* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Coming Soon', cursive;
}

h1, h2, h3, h4, h5 {
  font-family: 'Coming Soon', cursive;
}

h1 {
  font-size: 3rem;
  @media (@mobile) {
    font-size: 2rem;
    line-height:1.5;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  @media (@mobile) {
    font-size: 1rem;
    line-height: 2;
    width:80%;
  }
}

h4 {
  font-size: 2rem;
  
}

p {
  line-height: 2.1;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
  font-size:1.5rem;
}



body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container {
  display:flex;
  width:1000px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 5px 0px gray;
  .mobileView(500px,column,inherit);
}

header {
  display:flex;
  margin:0 auto;
  height: 15%;
  width:1000px;
  background-color: white;
  .mobileView(500px,column-reverse,center);
  @media (@mobile) {
    margin-top:1%;
  }
}

#headerContainer {
  display: flex;
  margin-left:12.5%;
  padding:2% 0 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .paperEdgeLines();
  @media (@mobile) {
    width:100%;
    margin-left: 0;
    border:0;
  }
}

#lineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  background-image: repeating-linear-gradient(white 0px, white 30px, teal 31px);
  @media (@mobile) {
    background-image: repeating-linear-gradient(white 0px, white 30px, teal 31px)
  }
}

#bodyContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3% 1% 0;
  .paperEdgeLines();
  @media (@mobile) {
    width:90%;
    margin-left: 0;
    border:0;
    padding:4% 0 0;
  }
}

#bodyContainer section {
  padding-top: 1%;
  text-align: justify;
  @media (max-width:500px) {
    margin-top: 2%;
  }
}  

footer {
  padding: 3% 0 2%;
  
  .paperEdgeLines();
  
  p, a {
    font-size: 1rem;
    text-align: center;
    line-height: 2.5;
    @media (@mobile) {
      line-height: 2.5;
    }
  }
  @media (@mobile) {
    width:90%;
    margin-left: 0;
    border:0;
    margin-top: 2%;
  }
}